/LICENSE
/README.md
frontend/public/assets/coverImages/SG.jpg
frontend/public/assets/coverImages/photo_2024-04-05_10-32-22.jpg
frontend/public/assets/coverImages/artwork2.jpg
frontend/public/assets/coverImages/ACE pfp.jpg
NewScene.pur
frontend/public/assets/coverImages/The Godfather Poster.jpg
frontend/public/assets/coverImages/breaking bad.jpg
frontend/public/assets/coverImages/Dutch Uncles.jpg
frontend/public/assets/coverImages/American Psycho.jpg
frontend/public/assets/coverImages/AMERICAN PSYCHO POSTER.jpg
frontend/public/assets/coverImages/1697297363.jpg
frontend/public/assets/coverImages/2231759696.jpg
frontend/public/assets/coverImages/2450809722.jpg
frontend/public/assets/coverImages/2559175679.jpg
frontend/public/assets/coverImages/3106339975.jpg
frontend/public/assets/coverImages/7921983922.jpg
frontend/public/assets/coverImages/8410514571.jpg
frontend/public/assets/coverImages/6041565165.jpg
frontend/public/assets/coverImages/1997857918.jpg
