/LICENSE
/README.md
frontend/public/assets/coverImages/SG.jpg
frontend/public/assets/coverImages/photo_2024-04-05_10-32-22.jpg
frontend/public/assets/coverImages/artwork2.jpg
frontend/public/assets/coverImages/ACE pfp.jpg
NewScene.pur
frontend/public/assets/coverImages/The Godfather Poster.jpg
frontend/public/assets/coverImages/breaking bad.jpg
frontend/public/assets/coverImages/Dutch Uncles.jpg
frontend/public/assets/coverImages/American Psycho.jpg
frontend/public/assets/coverImages/AMERICAN PSYCHO POSTER.jpg
